---
import Head from "./Head.astro";
import LoginNavbar from "../components/LoginNavbar.astro";
import ProtectedNavbar from "../components/ProtectedNavbar.astro";
import PublicNavbar from "../components/PublicNavbar.astro";

interface Props {
  title: string;
  type: "public" | "protected" | "login";
}

const { title, type } = Astro.props;

let Nav = LoginNavbar;

if (type === "protected") Nav = ProtectedNavbar;
else if (type === "public") Nav = PublicNavbar;
---

<Head {title}>
  <div class="min-h-screen">
    <Nav />
    <slot />
  </div>
</Head>
